body {
    background-color: black;
    font-family: "Ariel";
}
h1 {
    color: white;
    font-size: 50px;
}
p {
    color: white;
    font-family: "Times New Roman";
    font-size: 25px;
    font-style: italic;
}
.jumbotron-fluid {
    background: url(https://ak3.picdn.net/shutterstock/videos/30397273/thumb/1.jpg) no-repeat center center fixed;
    background-size: cover;
    height:33vh;
    margin-bottom: 20px;
}
.quotes {
    width: 33%;
    margin-left: auto;
    margin-right: auto;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    padding: 20px;
    height: auto;
    color: white;
}
.quote {
    font-size: 20px;
}
.author {
    font-size: 15px;
    font-style: italic;
}